{% extends "base.html" %}

{% block title %}Sheet 8 - Vragen & resources{% endblock %}

{% block content %}
<div class="inner">
    <header>
        <h1>Vragen & Resources</h1>
        <section>
            <ul>
                <li><a target="_blank" href="https://www.djangoproject.com">www.djangoproject.com</a></li>
                <li><a target="_blank" href="https://github.com/renehoek/wkpool">github.com/renehoek/wkpool</a></li>
            </ul>
        </section>
        <a href="{% url "pool:sheet-7" %}">&lt;</a>
    </header>
</div>
{% endblock %}