{% load static %}
<!DOCTYPE HTML>
<html>
	<head>
		<title>{% block title %}WKPool{% endblock %}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{%  static "website/assets/css/main.css"  %}" />
		<noscript><link rel="stylesheet" href="{%  static "website/assets/css/noscript.css" %}"/></noscript>
	</head>
	<body class="is-preload">
		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<div class="inner">

							<!-- Logo -->
								<a href="{% url 'pool:home' %}" class="logo">
									<span class="symbol"><img src="{%  static "website/images/logo.svg" %}" alt="" /></span><span class="title">WKPool</span>
								</a>

							<!-- Nav -->
								<nav>
									<ul>
										<li><a href="#menu">Menu</a></li>
									</ul>
								</nav>

						</div>
					</header>

				<!-- Menu -->
					<nav id="menu">
						<h2>Menu</h2>
						<ul>
							<li><a href="{% url 'pool:home' %}">Home</a></li>
							<li><a href="{% url 'pool:make-bet' %}">Place a bet</a></li>
							<li><a href="{% url 'pool:bets-overview' %}">List the bets</a></li>
						</ul>
					</nav>

				<!-- Main -->
					<div id="main">
						{% block content %}
                        <div class="inner">
							<header>
								<h1>My simple test template</h1>
								<p>Etiam quis viverra lorem, in semper lorem. Sed nisl arcu euismod sit amet nisi euismod sed cursus arcu elementum ipsum arcu vivamus quis venenatis orci lorem ipsum et magna feugiat veroeros aliquam. Lorem ipsum dolor sit amet nullam dolore.</p>
							</header>
						</div>
                        {% endblock %}
					</div>

				<!-- Footer -->
					<footer id="footer">
						<div class="inner">
							<section>
								<h2>Follow</h2>
								<ul class="icons">
									<li><a target="_blank" href="https://github.com/renehoek/wkpool" class="icon brands style2 fa-github"><span class="label">GitHub</span></a></li>
									<li><a href="mailto:info@renevanhoek.nl" class="icon solid style2 fa-envelope"><span class="label">Email</span></a></li>
								</ul>
							</section>
							<ul class="copyright">
								<li>&copy; Ren&#233; van Hoek. All rights reserved</li>
							</ul>
						</div>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="{%  static "website/assets/js/jquery.min.js" %}"></script>
			<script src="{%  static "website/assets/js/browser.min.js" %}"></script>
			<script src="{%  static "website/assets/js/breakpoints.min.js" %}"></script>
			<script src="{%  static "website/assets/js/util.js" %}"></script>
			<script src="{%  static "website/assets/js/main.js" %}"></script>

	</body>
</html>